<div class="module-hero">
  <picture class="image">
    <img src="https://source.unsplash.com/random" alt="Banner Image" />
  </picture>
  <div class="color-overlay"></div>
  <div class="content">
    <div class="content-wrapper">
      <h1>This is my first Angular App</h1>
      <p>For training CRUD purpose CRUD only!</p>
      <p>You can edit/ update/ remove/ create a new project</p>
      <p>
        There are many issues <br />
        - No validating forms<br />
        - No authentication from the BE <br />
        - No having default data for edit form
      </p>
    </div>
  </div>
</div>
