<section>
  <div class="project-wrapper">
    <div class="container">
      <h1 class="text-center mb-3">My Projects</h1>
      <h3 class="mb-5">This is sample cards - show CRUD purpose only</h3>
      <div class="row">
        <div class="card col-4" *ngFor="let project of lstProjects">
          <img
            class="card-img-top"
            src="{{ project['img'] }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h3 class="card-title">{{ project["name"] }}</h3>
            <h5>{{ project["date"] }}</h5>
            <h6>{{ project["status"] }}</h6>
            <p
              class="card-text text-truncate text-wrap"
              style="max-height: 100px"
            >
              {{ project["description"] }}
            </p>
            <!-- Button -->
            <div
              class="d-flex justify-content-between"
              *ngIf="isLoggedIn() === true"
            >
              <button class="btn btn-primary" (click)="onEditProject(project)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="onDeleteProject(project)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
